.c-like {
    position: relative;
    height: 1.3125rem;
    font-size: 1.3125rem;
    width: 1.3125rem;
    
    & input { 
      & + label > i {
        position: absolute;
        left: 0;
        cursor: pointer;
        transition: opacity 500ms cubic-bezier(.17,.67,.83,.67);
        
        &.fa-solid {
          background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    
      &:checked + label {
        & > i.fa-regular {
          opacity: 0;
        }
        & > i.fa-solid {
          opacity: 1;
        }
      }
      
      &:not(:checked) + label {
        & > i.fa-regular {
          opacity: 1;
        }
        & > i.fa-solid {
          opacity: 0;
        }
      }
    }
  }